@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "Welcome!";
}

<div class="submit_body" style="width: 900px;">

    <h4 class="text-center"> Click on the Steak to see the Top Restauraunts and click on the Sfiha to make sugegstions </h4>

    <div>
        <a asp-action="TopRestauraunts"> <img class="opaq" src="~/img/steak.jpg" class="home_image" style=" width: 400px; float: left;" /></a>
        
    </div>

    <div>
        <a asp-action="SuggestedRestauraunts"><img class="opaq" src="~/img/sfiha.jpg" style="width: 250px; float: right;" /></a>
    </div>

</div>

